@import 'tailwindcss';
@import 'uniwind';


@layer theme {
  @variant light {
    /* Override default colors */
    --accent: oklch(0.7324 0.1649 55.36); /* Custom indigo accent */
    --success: oklch(0.65 0.15 155);

  }

  @variant dark {
    /* Override dark theme colors */
    --accent: oklch(0.7324 0.1649 55.36);
    --success: oklch(0.75 0.12 155);

  }
}